<body>
  <div class="inputs">
    <div class="container has-text-centered">
      <form class="login">
        <div class="text-inputs">
          <input
            class="input mt-5 is-rounded"
            type="text"
            placeholder="Email"
          />

          <input
            class="input mt-5 is-rounded"
            type="text"
            placeholder="Password"
          />
        </div>
        <button class="login-button mt-5 button is-centered">LOGIN</button>
        <button class="login-button mt-5 button is-centered">SIGNUP</button>

      </form>
    </div>
  </div>

</body>
<script src="js/titlepage.js"></script>